h1 {
  color: #000000;
  background-color: #fef;
  padding: 25px;
  margin: 25px;
  text-align: center;
  font-weight: 200;
  border: 1px solid #000;
}

em {
  font-weight: 500;
  font-style: normal;
}

h2 {
  text-align: center;
  font-weight: 300;
  font-family: serif;
  text-decoration: underline;
}

a {
  text-decoration: none;
  font-family: sans-serif;
}

p {
  margin: 0px 15px;
  font-family: serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#footer {
  padding: 50px;
  margin: 20px 0px 0px 0px;
  background-color: #ffc966;
  text-align: center;
}